InstanceImageOCID                = null
InstanceShape                    = null
compartment_ocid                 = null
compute_route_table_display_name = null
fingerprint                      = null
interconnect_vcn_cidr_block      = null
internet_gateway_name            = null
oci_compute_instance_name        = null
oci_compute_subnet               = null
oci_compute_subnet_display_name  = null
oci_compute_subnet_dns_label     = null
private_key_path                 = null
region                           = null
security_policy_name             = null
ssh_public_key                   = null
tenancy_ocid                     = null
user_ocid                        = null
