---
extends: default

rules:
  document-start:
    ignore: |
      vault.yml

  line-length:
    max: 120
    level: warning
    ignore: |
      .github/workflows/dependabot.yml

  truthy:
    ignore: |
      .github/workflows/*
