aws_region         = "eu-west-2"
ec2_enable         = true
ec2_ssh_key_name   = "ansible-key"
ec2_ssh_key_public = "../../files/id_rsa.ansible.pub"
profile            = "terraform"
rds_enable         = true
rds_password       = "password123"
rds_user           = "changeme"
